@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9ebe9;
}
/*? SETTINGS FOR ALL PAGES */
.landing-page,
.login-page,
.register-page
.dashboard-page {
  width: 393px;
  height: 852px;
}

/*? LANDING PAGE */
.landing-page-style {
  width: 313px;
  height: 769px;
  flex-shrink: 0;
  margin: auto;
}

.logo {
  text-align: end;
  padding: 41px 0;
}

.brand {
  padding: 286px 55px 308px 55px;
}

.brand h1 {
  color: #434344;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  letter-spacing: 8.16px;
  text-transform: uppercase;
}

.brand h1 span {
  font-weight: 300;
  margin-left: -8.16px;
}

.infos {
  width: 313px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  font-family: Articulat CF;
  font-size: 18px;
  font-weight: 300;
  margin-top: 23px;
}

/*? LOGIN PART */
.login-page h2 {
  color: #434344;
  font-family: Montserrat;
  font-size: 32px;
  letter-spacing: 8.16px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 59px;
}

.login-page h2 span {
  font-weight: 300;
  margin-left: -8.16px;
}

.login-facture-image {
  margin-top: 15px;
  margin-left: 117px;
}

.login-description {
  margin: 0 127px 25px 36px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.login-border {
  border: 0.5px solid #1b1b1b;
}

.login-part-two {
  height: 438px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-part-two .login-space {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  margin: 0 35px;
}

.login-part-two .login-space h1 {
  color: #1b1b1b;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 5.1px;
  text-transform: uppercase;
}

.login-part-two .login-space input {
  width: 100%;
  border-radius: 2px;
  border: 0.5px solid #1b1b1b;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 23px;
  color: #434344;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.4px;
}

.login-part-two .login-space p {
  color: #1b1b1b;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 200;
}

.login-part-two .login-space p .register-link {
  color: #1b1b1b;
  font-size: 15px;
}

.center-btn {
  width: 100%;
}

.login-part-two .login-space button {
  height: 72px;
  border-radius: 2px;
  background: #1b1b1b;
  color: #fff;
  text-align: center;
  font-family: Articulat CF;
  font-size: 18px;
  width: 100%;
  text-transform: uppercase;
}

/** Register part */
.register-facture-image {
  margin: 15px 0 0 117px;
  margin-left: 117px;
}

.register-title {
  width: 185px;
  color: #fff;
  font-family: Roboto;
  font-size: 13px;
  line-height: normal;
  background: #1b1b1b;
  text-transform: uppercase;
  padding: 10px 0 10px 13px;
  margin-left: 32px;
  margin-bottom: 16px;
}

.login-page .register {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 32px;
}

.login-page .register input {
  padding: 10px 20px;
  border-radius: 2px;
  border: 1px solid #a2aebb;
  background: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
}

.login-page .register .name-inputs {
  display: flex;
  gap: 15px;
}

.login-page .register .name-inputs input {
  width: 50%;
}

.align-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27%;
  width: 100%;
}

.align-btn button {
  width: 377px;
  height: 72px;
  border-radius: 2px;
  background: #1b1b1b;
  color: #fff;
  font-family: Articulat CF;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}