@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9ebe9;
}

ul li {
  list-style-type: none;
}

/*? SETTINGS FOR SOME PAGES */
.landing-page,
.dashboard-page,
.invoice-step-one-page,
.legal-policy {
  width: 85vw;
  margin: 0 auto;
}

/*? LANDING PAGE */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.landing-page-height {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 41px;
}

.logo {
  text-align: end;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand p {
  color: #434344;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8.16px;
}

.brand p {
  color: #434344;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  letter-spacing: 8.16px;
  text-transform: uppercase;
  font-weight: 700;
}

.brand p span {
  font-weight: 300;
  margin-left: -8.16px;
}

.infos {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  font-family: Articulat CF;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 41px;
}

/*? LOGIN PART */
.login-part-two .login-space .success-message {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  width: 82%;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 0.2s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-page .brand-login-register {
  color: #434344;
  font-family: Montserrat;
  font-size: 32px;
  letter-spacing: 8.16px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 59px;
  font-weight: 700;
}

.login-page .brand-login-register span {
  font-weight: 300;
  margin-left: -8.16px;
}

.login-facture-image {
  margin-top: 15px;
}

.login-description {
  margin: 0 30px 20px 36px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.login-border {
  border: 0.5px solid #1b1b1b;
  width: 100%;
}

.login-part-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.login-part-two .login-space {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 28px;
}

.login-part-two .login-space h1 {
  color: #1b1b1b;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 5.1px;
  text-transform: uppercase;
  padding: 0 35px;
}

.login-part-two .login-space .padding-form {
  width: 100%;
  padding: 0 35px;
  display: flex;
  flex-direction: column;
}

.login-part-two .login-space input {
  width: 100%;
  border-radius: 2px;
  border: 0.5px solid #1b1b1b;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 23px;
  color: #434344;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.4px;
}

.login-part-two .login-space input:nth-child(2) {
  margin-top: 15px;
  margin-bottom: 28px;
}

.login-part-two .login-space p {
  color: #1b1b1b;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 200;
  display: flex;
}

.login-part-two .login-space p .register-link {
  color: #1b1b1b;
  font-size: 15px;
}

.center-btn {
  width: 99%;
  margin: auto;
}

.login-part-two .login-space button {
  padding: 20px;
  border-radius: 2px;
  background-color: #252525;
  color: #fff;
  text-align: center;
  font-family: Articulat CF;
  font-size: 18px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 70px;
  transition: background-color 0.2s ease;
}

@media (min-width: 1200px) {
  .login-part-two {
    margin-top: 30px;
  }
  .login-part-two .login-space h1 {
    width: 100%;
    text-align: center;
  }
  .login-part-two .login-space input {
    width: 50%;
    margin: auto;
  }
  .center-btn {
    display: flex;
    align-items: center;
  }
  .login-part-two .login-space button {
    width: 20%;
    margin: auto;
    margin-bottom: 30px;
  }
  .login-part-two .login-space p {
    justify-content: center;
  }
}

.login-part-two .login-space button:hover {
  background-color: #434344;
}

/** Register part */
.register-facture-image {
  margin-top: 15px;
  text-align: center;
}

.register-title {
  color: #1b1b1b;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 5.1px;
  text-transform: uppercase;
  margin: 30px;
}

.login-part-two .login-space p {
  text-align: center;
  width: 100%;
}

.login-page .register {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-page .register .register-marge {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 32px;
}

.login-page .register input {
  padding: 10px 20px;
  border-radius: 2px;
  border: 1px solid #a2aebb;
  background: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
}

.login-page .register .name-inputs {
  display: flex;
  gap: 15px;
}

.login-page .register .name-inputs input {
  width: 50%;
}

.login-page .register .name-inputs-size {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-page .register .name-inputs-size input {
  width: 100%;
}

.align-btn {
  width: 98%;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 12px;
}

.align-btn button {
  width: 100%;
  height: 72px;
  border-radius: 2px;
  background-color: #252525;
  color: #fff;
  font-family: Articulat CF;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.align-btn button:hover {
  background-color: #434344;
}

@media (min-width: 1200px) {
  .register-title {
    text-align: center;
  }
  .align-btn {
    display: flex;
    align-items: center;
  }
  .align-btn button {
    width: 20%;
    margin: auto;
    margin-bottom: 30px;
  }
  .login-page .register input {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 300;
    width: 50%;
    margin: auto;
  }
  .login-page .register .name-inputs {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .login-page .register .name-inputs input {
    width: 50%;
  }
  .login-page .register .name-inputs-size {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 15px;
  }
  .login-page .register .name-inputs-size input {
    width: 50%;
  }
}

/*? DASHBOARD PAGE */
.welcome-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 82px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 19px;
}

.welcome-user h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.draft-button {
  text-align: center;
  width: 100%;
}

.draft-button button {
  background-color: #b7b5b3;
  color: #1b1b1b;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Montserrat;
}

.link-no-underline {
  text-decoration: none;
}

.draft-button button:hover {
  background-color: #a6a4a2;
}

.invoice-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 8px;
  font-family: Roboto;
  margin-top: 15px;
}

.invoice-title > p:nth-child(1) {
  font-size: 15px;
  font-weight: 700;
}

.invoice-title > p:nth-child(2) {
  margin-right: 27px;
  font-size: 14px;
  font-weight: 400;
}

.invoice-customers,
.invoice-customers-2 {
  display: flex;
  justify-content: space-between;
  margin: 8px 13px;
  gap: 3px;
}

.invoice-customers p:nth-child(2) {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.invoice-customers-2 p:nth-child(2) {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-weight: 700;
}

.status-draft {
  color: #e14848;
  font-weight: 700;
}

.status-sent {
  color: #4f9e65;
  font-weight: 700;
}

.revenue-party h2 {
  margin-top: 23px;
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 7px;
}

.revenue {
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0);
  padding: 12px 17px;
}
.revenue-title-date {
  display: flex;
  justify-content: space-between;
}

.revenue-title-date p:nth-child(1) {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 3.75px;
  text-transform: uppercase;
}

.revenue-title-date p:nth-child(2) {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.revenue .revenue-amount {
  margin: 110px 0;
  color: #000;
  font-size: 48px;
  font-weight: 700;
}

.btn-invoice button {
  margin: 35px 0 10px;
  border-radius: 5px;
  padding: 24px 64px;
  background: #4f9e65;
  color: #fff;
  font-family: Articulat CF;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-invoice button:hover {
  background: #487e58;
}

.desktop-footer {
  display: none;
}
@media (min-width: 992px) {
  .desktop-footer {
    display: block;
  }
}

@media (min-width: 1200px) {
  .draft-button {
    display: flex;
    justify-content: end;
    gap: 15px;
    width: 100%;
  }
  .draft-button button {
    width: 100%;
    gap: 10px;
  }

  .btn-invoice {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .btn-invoice button {
    width: 100%;
  }
}

/*? HEADER NAV */
.header-nav {
  padding: 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  width: 85%;
  margin: auto;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8.16px;
  font-size: 32px;
  text-transform: uppercase;
  color: #434344;
}

.nav-brand span {
  font-weight: 300;
  margin-left: -8.16px;
}

.header-nav .desktop-nav ul {
  display: flex;
  gap: 20px;
}

.header-nav .links-style {
  text-decoration: none;
  color: #fff;
  font-family: Articulat CF;
  font-size: 14px;
  font-weight: 400;
}

.nav-links-desktop {
  color: #000;
  list-style: none;
  text-decoration: none;
}

.nav-links-desktop:hover {
  color: #434344;
}

/*? ACCORDEON NAV */
.accordion-nav {
  right: 7.5%;
  top: 90%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
}

.toggle-button {
  position: relative; /* Ajoutez la position fixe ici */
  width: 249px;
  height: 63px;
  border-radius: 7px;
  background: #1b1b1b;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 200;
}

.toggle-button span {
  margin-left: 31px;
}

.toggle-lines {
  display: flex;
  flex-direction: column;
  margin-right: 32.5px;
  transition: transform 0.3s ease-in-out;
  margin-top: 5px;
  cursor: pointer;
}

.toggle-lines img {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 3.25px;
}

.toggle-button.open .toggle-lines {
  transform: rotate(45deg);
}

.toggle-button.open .toggle-lines img:nth-child(1) {
  margin-bottom: 0;
  transform: rotate(90deg) translateX(2px);
}

.nav-links {
  display: none;
  position: absolute;
  bottom: 90%;
}

.links-open {
  display: block;
  position: absolute;
  padding: 17px 36px;
  text-align: left; /* Alignez le contenu à gauche */
  width: 249px;
  z-index: 100000;
  border-radius: 7px;
  background-color: #252525;
  z-index: 200;
}

.nav-links li {
  margin-bottom: 15px;
}

.nav-links li:nth-child(5) {
  margin: 0;
}

.nav-links .links-style {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Articulat CF;
  font-size: 14px;
  font-weight: 400;
}

/*? INVOICE STEP ONE PAGE  */
.invoice-step-one-title {
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  margin-top: 21px;
}

.invoice-step-one-title h2:nth-child(1) {
  font-size: 15px;
}

.invoice-step-one-title h2:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
}

.invoice-step-one-p {
  margin-top: 9px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
}

.select-company {
  margin-top: 25px;
  padding: 9px 20px;
  border-radius: 5px;
  background: #d9d9d9;
  width: 100%;
  color: rgba(27, 27, 27, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  appearance: none;
  -webkit-appearance: none;
  background-image: url("../public/polygon-1.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.add-company-exp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
}

.add-company-exp h2 {
  background: #1b1b1b;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  padding: 8px 34px;
  width: 100%;
}

.add-company {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 28px;
}

.add-company textarea {
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  resize: none;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  height: 75px;
  background-color: #e9ebe9;
}

.add-company label {
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.add-company input {
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  background-color: #e9ebe9;
  padding-bottom: 11px;
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.switch-container label {
  font-size: 14px;
  color: #000;
}

.switch-container input[type="checkbox"] {
  width: 40px;
  height: 20px;
  appearance: none;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.switch-container input[type="checkbox"]:checked {
  background-color: #1b1b1b;
}

.switch-container input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.2s;
}

.switch-container input[type="checkbox"]:checked::before {
  transform: translateX(20px);
}

.input-row {
  display: flex;
  justify-content: space-between;
  gap: 43px;
}

.input-row input {
  width: 80%;
}

.select-legal-form {
  padding: 6px 20px;
  border-radius: 5px;
  background: #d9d9d9;
  width: 85%;
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  appearance: none;
  -webkit-appearance: none;
  background-image: url("../public/polygon-1.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn-invoice-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.btn-invoice-2 button {
  margin-top: 18px;
  border-radius: 5px;
  padding: 24px 43px;
  width: 100%;
  background: #4f9e65;
  color: #fff;
  text-align: center;
  font-family: Articulat CF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  margin-bottom: 30px;
  transition: background-color 0.2s ease;
}

.btn-invoice-2 button:hover {
  background: #487e58;
}

.btn-invoice-2.fixed-btn {
  width: 85%;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0.9;
}

.custom-file-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 6px 20px;
  border-radius: 5px;
  background: #d9d9d9;
  width: 60%;
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

.custom-file-input {
  display: none;
}

.display-none {
  display: none;
}

.invoice-step-sizes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 17px;
}

@media (min-width: 1200px) {
  .add-company-exp h2 {
    width: 20%;
  }
  .invoice-step-sizes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom:0px;
    gap: 30px;
    margin: 5px 0;
  }
  .invoice-step-sizes input {
    width: 100%;
  }

  .add-company input {
    background-color: #e9ebe9;
    padding-bottom: 10px;
  }
  
  .switch-container label {
    font-size: 14px;
    color: #000;
  }
  
  
}

/*? INVOICE STEP THREE */
.invoice-create {
  margin-top: 35px;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}

.invoice-create form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 38px 35px 38px;
}
.checkbox-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.checkbox-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.checkbox-label input[type="checkbox"] {
  margin-bottom: 3px;
}

.label-span-red {
  color: #d9544f9d;
}

/*? INVOICE STEP FOUR */
.add-product {
  margin-top: 35px;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  display: flex;
}

.product-list {
  margin-top: 88px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.product-header,
.product-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 11px 0;
}

.product-header li,
.product-item li {
  width: 20%;
  text-align: center;
}

.center-plus {
  text-align: center;
  margin-top: 22px;
}

.center-plus img {
  cursor: pointer;
}

.total-price {
  color: #000;
  text-align: right;
  text-transform: uppercase;
  font-family: Articulat CF;
  font-size: 18px;
  font-weight: 700;
  margin-top: 238px;
}

.btn-invoice-4 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-invoice-4 button {
  margin-top: 18px;
  border-radius: 5px;
  padding: 24px 25px;
  background: #4f9e65;
  color: #fff;
  text-align: center;
  font-family: Articulat CF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-invoice-4 button:hover {
  background: #487e58;
}

.delete-icon {
  background-color: #e9ebe9;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: -4px;
}

/*? INVOICE STEP FIVE SUMMARY */
.dl-pdf h1 {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin: 12px 0 12px 4px;
}

.summary h2 {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  margin: 12px 0 12px 4px;
}

.summary .company-summary-part,
.customer-summary-part,
.product-summary-part {
  border: 0.5px solid #000;
  background: rgba(225, 226, 225, 0.5);
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-weight: 300;
  gap: 20px;
}

.company-info-1,
.customer-info-1 {
  display: flex;
  flex-direction: column;
  margin: 21px 0 31px 18px;
  gap: 10px;
}

.company-info-2,
.customer-info-2 {
  display: flex;
  flex-direction: column;
  margin: 27px 18px 25px 0px;
  gap: 10px;
}

.customer-info-1 {
  margin: 32px 0 40px 18px;
}

.customer-info-2 {
  margin: 32px 18px 40px 0;
}

.product-summary-part {
  flex-direction: column;
  padding: 17px 17px;
  font-size: 10px;
  font-weight: 300;
  gap: 10px;
}

.product-summary-header,
.product-summary-item {
  display: flex;
  justify-content: space-between;
}

.product-summary-header li,
.product-summary-item li {
  width: 20%;
  text-align: center;
}

.product-summary-item li p {
  font-size: 9px;
  margin-top: 5px;
}

.summary-details {
  margin-top: 15px;
  color: #000;
  font-family: Articulat CF;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.summary-details .summary-total {
  display: flex;
  justify-content: space-between;
}

/*? ACCOUNT COMPONENT */
.account-container {
  position: relative;
}

.account-icon {
  cursor: pointer;
}

.account-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #252525;
  border: 1px solid #ccc;
  border-radius: 7px;
  min-width: 120px;
  z-index: 1;
  animation: slide-down 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 20px;
}

.account-menu a {
  text-decoration: none;
  color: #fff;
  font-family: Articulat CF;
  font-size: 12px;
  font-weight: 400;
}

.account-menu button {
  color: #fff;
  font-family: Articulat CF;
  font-size: 12px;
  font-weight: 400;
  background-color: #252525;
  border: none;
  cursor: pointer;
}

@keyframes slide-down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*? ERROR MESSAGE ALERT */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.alert {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f2dede;
  color: #a94442;
  padding: 10px 15px;
  text-align: center;
  z-index: 9999;
  border: 2px solid #ebccd1;
  border-radius: 5px;
  width: 85%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-family: Roboto;
}

.close-alert {
  color: #fff;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 28px;
  cursor: pointer;
  background-color: #d9534f;
  padding: 6px 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.close-alert:hover {
  background-color: #c9302c;
}

.close-alert {
  color: #a94442;
  position: absolute;
  top: 3px;
  right: 5px;
  font-size: 24px;
  cursor: pointer;
  background-color: #ebccd1;
  padding: 2px 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.close-alert:hover {
  background-color: #d9534f;
  color: #fff;
}

/*? CANVA SIGNATURE */
.contents-try {
  display: flex;
  flex-direction: column;
}

.sign-pdf-div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.canva-signature {
  width: 100%;
  height: auto;
  border: 1px solid black;
}

@media (min-width: 657px) {
  .sign-pdf-div {
    width: 400px;
    height: auto;
  }
  .contents-try {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 50px;
  }
}

@media (min-width: 960px) {
  .dl-pdf-img {
    margin-top: 15px;
  }
}

.sign-pdf-div h2 {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  margin: 12px 0 12px 4px;
}

.clear-signature-button {
  position: absolute; /* Position absolue par rapport au parent sign-pdf-div */
  top: 50px; /* Alignez le haut du bouton au haut du parent */
  right: 5px; /* Alignez le côté droit du bouton au côté droit du parent */
  cursor: pointer;
}

.dl-pdf {
  margin-top: 30px;
  text-align: center;
}

.dl-pdf button {
  border: none;
  background-color: #e9ebe9;
  cursor: pointer;
  margin-top: 8px;
}

.dl-pdf-img {
  width: 80px;
}

/*? LEGAL NOTICE  & PRIVACY POLICY*/
.legal-policy h1 {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 82px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 19px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.legal-notice-rules {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.legal-notice-rules p:last-child {
  margin-bottom: 300px;
}

.privacy-policy-rules {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.privacy-policy-rules p:last-child {
  margin-bottom: 50px;
}

/*? FOOTER */
.footer ul {
  display: flex;
  justify-content: end;
  align-items: end;
  position: fixed;
  gap: 15px;
  top: 97%;
  width: 85%;
}

.footer-links {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: 300;
  font-family: Roboto;
}

.footer-links:hover {
  color: #434344;
}
