@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9ebe9;
}

ul li {
  list-style-type: none;
}

/*? SETTINGS FOR ALL PAGES */
.landing-page,
.dashboard-page,
.invoice-step-one-page {
  width: 85vw;
  margin: 0 auto;
}

/*? LANDING PAGE */
.landing-page-height {
  min-height: 769px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 41px;
}

.logo {
  text-align: end;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand h1 {
  color: #434344;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 8.16px;
}

.brand h1 {
  color: #434344;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  letter-spacing: 8.16px;
  text-transform: uppercase;
}

.brand h1 span {
  font-weight: 300;
  margin-left: -8.16px;
}

.infos {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  font-family: Articulat CF;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 41px;
}

/*? LOGIN PART */
.login-page {
  width: 100vw;
  margin: 0 auto;
}

.login-page h2 {
  color: #434344;
  font-family: Montserrat;
  font-size: 32px;
  letter-spacing: 8.16px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 59px;
}

.login-page h2 span {
  font-weight: 300;
  margin-left: -8.16px;
}

.login-facture-image {
  margin-top: 15px;
}

.login-description {
  margin: 0 120px 25px 36px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.login-border {
  border: 0.5px solid #1b1b1b;
}

.login-part-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 85px;
}

.login-part-two .login-space {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}

.login-part-two .login-space h1 {
  color: #1b1b1b;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 5.1px;
  text-transform: uppercase;
  padding: 0 35px;
}

.login-part-two .login-space .padding-form {
  width: 100%;
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-part-two .login-space input {
  width: 100%;
  border-radius: 2px;
  border: 0.5px solid #1b1b1b;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 23px;
  color: #434344;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.4px;
}

.login-part-two .login-space input:nth-child(2) {
  margin-top: 15px;
  margin-bottom: 28px;
}

.login-part-two .login-space p {
  color: #1b1b1b;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 200;
}

.login-part-two .login-space p .register-link {
  color: #1b1b1b;
  font-size: 15px;
}

.center-btn {
  width: 99%;
  margin: auto;
}

.login-part-two .login-space button {
  height: 72px;
  border-radius: 2px;
  background: #1b1b1b;
  color: #fff;
  text-align: center;
  font-family: Articulat CF;
  font-size: 18px;
  width: 100%;
  text-transform: uppercase;
}

/** Register part */
.login-page {
  width: 100vw;
  margin: 0 auto;
}

.register-facture-image {
  margin: 15px 0 0 117px;
}

.register-title {
  width: 185px;
  color: #fff;
  font-family: Roboto;
  font-size: 13px;
  line-height: normal;
  background: #1b1b1b;
  text-transform: uppercase;
  padding: 10px 0 10px 13px;
  margin-left: 32px;
  margin-bottom: 16px;
}

.login-page .register {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-page .register .register-marge {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 32px;
}

.login-page .register input {
  padding: 10px 20px;
  border-radius: 2px;
  border: 1px solid #a2aebb;
  background: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
}

.login-page .register .name-inputs {
  display: flex;
  gap: 15px;
}

.login-page .register .name-inputs input {
  width: 50%;
}

.align-btn {
  width: 98%;
  margin: auto;
  margin-top: 35px;
}

.align-btn button {
  width: 100%;
  height: 72px;
  border-radius: 2px;
  background: #1b1b1b;
  color: #fff;
  font-family: Articulat CF;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

/*? DASHBOARD PAGE */
.welcome-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 82px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 19px;
}

.welcome-user h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.invoice-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 8px;
  font-family: Roboto;
}

.invoice-title > p:nth-child(1) {
  font-size: 15px;
  font-weight: 700;
}

.invoice-title > p:nth-child(2) {
  margin-right: 20px;
  font-size: 14px;
  font-weight: 400;
}

.invoice-customers,
.invoice-customers-2 {
  display: flex;
  justify-content: space-between;
  margin: 8px 13px;
}

.invoice-customers p:nth-child(2) {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #e14848;
  color: #fff;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.invoice-customers-2 p:nth-child(2) {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #4f9e65;
  color: #fff;
  font-family: Roboto;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line {
  width: 100%;
  height: 0.5px;
  background: rgba(0, 0, 0, 0.5);
}

.revenue-party h2 {
  margin-top: 23px;
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 7px;
}

.revenue {
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0);
  padding: 12px 17px;
}
.revenue-title-date {
  display: flex;
  justify-content: space-between;
}

.revenue-title-date p:nth-child(1) {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 3.75px;
  text-transform: uppercase;
}

.revenue-title-date p:nth-child(2) {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.revenue-title-date p:nth-child(2) span {
  font-weight: 700;
}

.revenue .revenue-amount {
  margin-top: 110px;
  color: #000;
  font-size: 48px;
  font-weight: 700;
}

.revenue .revenue-evolution {
  color: #4f9e65;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.view-more-revenue {
  display: flex;
  justify-content: flex-end;
  margin-top: 107px;
}

.view-more-revenue .link-see-more {
  color: #000;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  margin-left: 15px;
}

.btn-invoice {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-invoice button {
  margin-top: 18px;
  border-radius: 5px;
  padding: 24px 64px;
  background: #4f9e65;
  color: #fff;
  text-align: center;
  font-family: Articulat CF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: 0;
}

/*? COMPONENT NAV */
.align-toggle {
  display: flex;
  justify-content: flex-end;
}

.toggle-button {
  position: relative;
  margin-top: 20px;
  width: 249px;
  height: 63px;
  border-radius: 7px;
  background: #1b1b1b;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.toggle-button span {
  margin-left: 31px;
}

.toggle-lines {
  display: flex;
  flex-direction: column;
  margin-right: 32.5px;
  transition: transform 0.3s ease-in-out;
  margin-top: 5px;
}

.toggle-lines img {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 3.25px;
}

.toggle-button.open .toggle-lines {
  transform: rotate(45deg);
}

.toggle-button.open .toggle-lines img:nth-child(1) {
  margin-bottom: 0;
  transform: rotate(90deg) translateX(2px);
}

.nav-links {
  display: none;
  position: absolute;
  top: 83.8%;
  background-color: #252525;
  z-index: 1;
  padding: 17px 36px;
  border-radius: 7px;
  width: 249px;
}

.links-open {
  display: block;
}

.nav-links li {
  margin-bottom: 15px;
}

.nav-links li:nth-child(4) {
  margin: 0;
}

.nav-links .links-style {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Articulat CF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*? INVOICE STEP ONE PAGE  */
.invoice-step-one-title {
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  margin-top: 21px;
}

.invoice-step-one-title h2:nth-child(1) {
  font-size: 15px;
}

.invoice-step-one-title h2:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
}

.invoice-step-one-p {
  margin-top: 9px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
}

.select-company {
  margin-top: 25px;
  padding: 9px 20px;
  border-radius: 5px;
  background: #d9d9d9;
  width: 100%;
  color: rgba(27, 27, 27, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  appearance: none;
  -webkit-appearance: none;
  background-image: url("../public/polygon-1.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
}

.add-company-exp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 34px;
}

.add-company-exp h2 {
  padding: 8px 0;
  background: #1b1b1b;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  padding: 8px 34px;
}

.add-company-exp h2::before,
.add-company-exp h2::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100px;
  background: rgba(0, 0, 0, 0.5);
  height: 0.5px;
}

.add-company-exp h2::before {
  left: -74px;
  transform: translateY(-50%);
}

.add-company-exp h2::after {
  right: -74px;
  transform: translateY(-50%);
}

.add-company {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 28px;
}

.add-company textarea {
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  resize: none;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  height: 50px;
  background-color: #e9ebe9;
}

.add-company label {
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.add-company input {
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  background-color: #e9ebe9;
  padding-bottom: 11px;
}

.iphone-switch {
  position: relative;
  width: 40px;
  height: 20px;
  margin-left: 10px;
}

.switch-label {
  display: block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  background-color: #000;
}

.switch-label::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.switch-input:checked + .switch-label::after {
  transform: translateX(20px);
}

.billing-is-different-input {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin: auto;
}

.input-row {
  display: flex;
  gap: 40px;
}

.select-legal-form {
  padding: 6px 20px;
  border-radius: 5px;
  background: #d9d9d9;
  width: 85%;
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  appearance: none;
  -webkit-appearance: none;
  background-image: url("../public/polygon-1.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

.btn-invoice-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-invoice-2 button {
  margin-top: 18px;
  border-radius: 5px;
  padding: 24px 43px;
  width: 100%;
  background: #4f9e65;
  color: #fff;
  text-align: center;
  font-family: Articulat CF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: 0;
}

.custom-file-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 6px 20px;
  border-radius: 5px;
  background: #d9d9d9;
  width: 60%;
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

.custom-file-input {
  display: none;
}

.display-none {
  display: none;
}

/*? INVOICE STEP TWO PAGE */
.btn-invoice-3 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-invoice-3 button {
  margin-top: 18px;
  border-radius: 5px;
  padding: 24px 70px;
  background: #4f9e65;
  color: #fff;
  text-align: center;
  font-family: Articulat CF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: 0;
}

/*? INVOICE STEP THREE */
.invoice-create {
  margin-top: 35px;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
}

.invoice-create form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 38px 35px 38px;
}
.checkbox-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 5px;
}

.checkbox-label {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.checkbox-label input[type="checkbox"] {
  margin-bottom: 3px;
}
